* {
  font-family: "Verdana", sans-serif;
  color: white;
}

body {
  background-color: #242424;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 10px;
}

hr {
  max-width: 50%;
  margin: 0 auto;
}

li {
  font-size: 16px;
  text-align: center;
  background-color: rgba(73, 73, 64, 0.2);
  margin: 10px auto;
  width: 75%;
  border-radius: 25px;
}

li::marker {
  font-size: 2em;
  animation: bullet-pulse 3s ease-in-out infinite;
}

p {
  background-color: rgba(73, 73, 64, 0.2);
  border-radius: 25px;
}

.header-alignment {
  text-align: center;
  color: orange;
  text-shadow: 0 10px black;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 10px 10px;
  margin: 50px 0;
}

.grid-item {
  padding: 0 20px;
  background-color: #242420;
  border: 15px ridge #242420;
  border-radius: 20px;
  box-shadow: 0px 0px 40px 0px black;
}

.left-column {
  grid-area: 1 / 1 / 5 / 2;
}
.right-column-1 {
  grid-area: 1 / 2 / 3 / 3;
}
.right-column-2 {
  grid-area: 3 / 2 / 5 / 3;
}
.bottom-footer {
  grid-area: 5 / 1 / 7 / 3;
}

@media screen and (max-width: 768px) {
  .grid {
    display: flex;
    flex-direction: column;
  }
  .project-gallery {
    display: flex;
    flex-direction: column;
  }
}
