.project-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 10px 10px;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-body > h2 {
  background-color: rgba(0, 0, 0, 0.2);
  max-width: 450px;
  text-align: center;
}

.image-in-gallery {
  max-width: 450px;
  object-fit: cover;
}

.image-in-gallery:hover {
  cursor: pointer;
  animation: pulse 1s ease-in infinite;
  animation-direction: alternate;
}

.size-up {
  transition: 2s;
  transform: scale(2);
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px 10px;
  border-radius: 30px;
  border: 2px solid black;
  text-shadow: 0 5px black;
  margin: 0 auto;
  outline: none;
}
